.git
.github
.conda
.venv
.tools
tmp
tmp-paipu-server.out
tmp-paipu-server.err
viewer-data
log.json
mortal-output-p2.jsonl
mortal-output-p2-mapped.jsonl
majsoul-tenhou-current.json
mortal-viewer-config.json
target
docs/book
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pth
**/*.pt
**/*.ckpt
